header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    
    height: 100%;
}

.logo{
    grid-column: 3;

    display: grid;
    height: 100%;
}

.logo-text-head{
    grid-column: 2;
    font-family: "lobster";
    font-size: 10vh;
}

.modal-holder-header{
    grid-column: 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal-holder-howto{
    grid-column: 1;
}

.modal-holder-details{
    grid-column: 2;
}
