header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.logo{
    grid-column: 3;

    display: grid;
}

.logo-text-head{
    grid-column: 2;
    font-family: "lobster";
    font-size: 10vh;
}

.modal-holder-header{
    grid-column: 5;
    margin-top: 4.5vh;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.a-link{
    padding: 5px;
    padding-top: none;

    font-family: "roboto";
    font-weight: 300;
    font-size: 3vh;

    background: rgb(255, 255, 255);
    color: rgb(58, 106, 236);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.a-link:hover{
    border-bottom: 2.5px solid rgb(58, 106, 236);
    font-size: 3.5vh;
}

.modal-holder-howto{
    grid-column: 1;
}

.modal-holder-details{
    grid-column: 2;
}
