#user-input{
    font-family: 'caveat';
    font-size: 5vh;
    /* font-family: 'roboto'; */
    /* font-size: 4.2vh; */
}

.input-field{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 0.25fr 1fr  0.25fr ;
}

.input-field p{
    grid-column: 3;

    font-size: 4.2vh;
    font-family: 'roboto';
    font-weight:300;
}

.input-reset{
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    border-radius: 15px;

    width: 96.75%;
    font-size: 4.2vh;
    font-family: 'caveat';
}

.input-reset:hover{
    background:  rgb(133, 236, 133);
}